.cases
    padding-top: 70px 
    padding-bottom: 55px
    .drawing__title 
        margin-bottom: 50px
    .mainslider
        padding: 0
        margin-bottom: 87px
    .greybg 
        background-color: #E5E5E5
        color: #000
    .mainslider__item-title, .mainslider__item-subtitle, .mainslider__item-descr
        color: #000
    .mainslider__photos 
        width: 720px
    .mainslider__item-colored 
        width: 410px
        padding: 121px 37px 35px 37px
    .catalogpage__pages
        padding: 0
// @media (max-width: 1199px)
//     .cases 
//         padding: 40px 0
//     .mainslider 
//         padding: 45px 0
//         width: 940px
//         margin: 0 auto
//         .slick-prev
//             left: -15px
//         .slick-next
//             right: -15px
//         &__photos 
//             width: 600px
//         &__item
//             &-colored 
//                 padding-top: 55px