.cases
    padding-top: 70px 
    padding-bottom: 55px
    .drawing__title 
        margin-bottom: 50px
    .mainslider
        padding: 0
        margin-bottom: 87px
    .greybg 
        background-color: #E5E5E5
        color: #000
    .mainslider__item-title, .mainslider__item-subtitle, .mainslider__item-descr
        color: #000
    .mainslider__photos 
        width: 720px
    .mainslider__item-colored 
        width: 410px
        padding: 121px 37px 35px 37px
    .catalogpage__pages
        padding: 0
