.feedback
    padding-top: 30px 
    margin-top: 25px
    padding-bottom: 85px
    background-color: #e5e5e5
    &__title 
        font-size: 21px
        text-transform: uppercase
        font-weight: bold
        margin-bottom: 40px
    &__item 
        padding: 36px 
        padding-bottom: 25px
        width: 100%
        background-color: #fff
        position: relative 
        margin-bottom: 24px
        &-photo 
            width: 64px 
            height: 64px
            img 
                border-radius: 100%
                width: 100%
                height: 100%
        &-header 
            display: flex 
            justify-content: space-between
            align-items: center
        &-info 
            width: 380px
        &-company 
            font-size: 12px
            font-weight: 300
        &-name 
            font-size: 14px
            text-transform: capitalize
            font-weight: 500
            margin-top: 5px
    &__text 
        margin-top: 36px
        font-size: 14px
        line-height: 20px
        font-weight: 300
    &__date 
        position: absolute 
        right: 20px
        top: 30px 
        font-size: 12px
        color: rgba(0, 0, 0, 0.4)
        font-weight: 300
        text-transform: uppercase
    &__reply 
        margin-top: 20px
        font-size: 14px
        color: #767676
        cursor: pointer
    &__answer 
        padding-left: 70px
        .feedback__item-info 
            width: 275px
        .feedback__date 
            right: -15px
    &__photos 
        margin-top: 30px
        display: flex
        flex-wrap: wrap
        &-item 
            display: block
            width: 75px 
            height: 75px
            margin-right: 19px
            position: relative
            margin-bottom: 10px
            transition: 0.5s all
            img 
                width: 100%
                object-fit: cover
            &:hover 
                .feedback__photos-hover
                    opacity: 1
        &-hover
            opacity: 0
            position: absolute 
            width: 75px 
            height: 75px
            left: 0
            top: 0
            transition: 0.5s all
            background-color: rgba(155, 155, 155, 1)
            img 
                width: 40%
                position: absolute
                left: 50%
                top: 50%
                transform: translateX(-50%) translateY(-50%)
    .button 
        margin-top: 56px     
    &__form 
        width: 632px 
        height: 452px
        background-color: #fff
        margin: 0 auto
        margin-top: 45px
        padding: 36px
        display: none
        &-wrap 
            display: flex
            justify-content: space-between 
            input 
                width: 258px 
                border: none
                border-bottom: 1px solid black
                padding: 8px 5px 10px 8px
                font-size: 14px
        textarea 
            margin-top: 47px
            resize: none
            width: 100%
            height: 168px
            padding: 17px 10px 
            font-size: 14px

        .file_upload
            display: block
            position: relative
            overflow: hidden
            font-size: 1em
            height: 2em                 
            line-height: 2em 
            width: 112px 
            height: 90px 
            background-color: #eeeeee    
            cursor: pointer  
            margin-top: 16px   
        
        .file_upload .button, .file_upload > mark
            display: block
            cursor: pointer              
        
        .file_upload span
            display: flex 
            flex-direction: column 
            justify-content: center
            align-items: center
            margin: 0 auto
            height: 100%
            text-align: center  
            cursor: pointer         
        
        .file_upload > mark
            background: transparent   
            padding-left: 1em      
        .file_upload input[type=file]
            position: absolute
            cursor: pointer
            top: 0
            opacity: 0   
            height: 90px  
        &-right
            display: flex 
            justify-content: flex-end
            margin-top: 23px
            &-reset 
                font-size: 14px
                font-weight: 300
                margin-right: 22px
                text-transform: uppercase
                border: none
                cursor: pointer
                background-color: #fff
            &-ok 
                font-size: 14px
                font-weight: 300
                text-transform: uppercase
                border: none
                color: #767676
                cursor: pointer
                background-color: #fff
@media (max-width: 1200px)
    .feedback
        &__item
            &-header
                justify-content: flex-start
            &-info 
                width: initial
            &-name, &-company
                margin-left: 20px
@media (max-width: 992px)
    .feedback
        padding: 30px 0
        &__item 
            padding: 25px
            &-info 
                width: 260px
        &__title
            margin-bottom: 10px
        &__date 
            top: 15px
        &__text 
            margin-top: 25px
        .button
            margin-top: 30px
@media (max-width: 768px)
    .feedback
        &__form 
            width: 100%
            &-wrap 
                input 
                    width: 200px
@media (max-width: 576px)
    .feedback
        .button
            margin-bottom: 30px
        &__form 
            height: initial
            padding: 20px
            margin-bottom: 30px
            textarea
                height: 140px
            &-wrap 
                flex-wrap: wrap
                input 
                    width: 100%
                    margin-top: 10px
