.feedback
    padding-top: 30px 
    margin-top: 25px
    padding-bottom: 85px
    background-color: #e5e5e5
    &__title 
        font-size: 21px
        text-transform: uppercase
        font-weight: bold
        margin-bottom: 40px
    &__item 
        padding: 36px 
        padding-bottom: 25px
        width: 100%
        background-color: #fff
        position: relative 
        margin-bottom: 24px
        &-photo 
            width: 64px 
            height: 64px
            img 
                border-radius: 100%
                width: 100%
                height: 100%
        &-header 
            display: flex 
            justify-content: space-between
            align-items: center
        &-info 
            width: 380px
        &-company 
            font-size: 12px
            font-weight: 300
        &-name 
            font-size: 14px
            text-transform: capitalize
            font-weight: 500
            margin-top: 5px
    &__text 
        margin-top: 36px
        font-size: 14px
        line-height: 20px
        font-weight: 300
    &__date 
        position: absolute 
        right: 20px
        top: 30px 
        font-size: 12px
        color: rgba(0, 0, 0, 0.4)
        font-weight: 300
        text-transform: uppercase
    &__reply 
        margin-top: 20px
        font-size: 14px
        color: #767676
        cursor: pointer
    &__answer 
        padding-left: 70px
        .feedback__item-info 
            width: 275px
        .feedback__date 
            right: -15px
    &__photos 
        margin-top: 30px
        display: flex
        flex-wrap: wrap
        &-item 
            display: block
            width: 75px 
            height: 75px
            margin-right: 19px
            position: relative
            margin-bottom: 10px
            transition: 0.5s all
            img 
                width: 100%
                object-fit: cover
            &:hover 
                .feedback__photos-hover
                    opacity: 1
        &-hover
            opacity: 0
            position: absolute 
            width: 75px 
            height: 75px
            left: 0
            top: 0
            transition: 0.5s all
            background-color: rgba(155, 155, 155, 1)
            img 
                width: 40%
                position: absolute
                left: 50%
                top: 50%
                transform: translateX(-50%) translateY(-50%)
    .button 
        margin-top: 56px     
